footer {
    background: $dk-green;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 50px 0;

    .footer-box {
        .img-logo {
            .logo-footer {
                height: 46px;
                display: block;
                margin: 0 0 10px 0;
            }
        }

        p {
            @include para (300, 14px, $lt-grey, 24px, unset, 2px 0, 0, left);
            position: relative;
        }

        h6 {
            @include headings(500, 20px, $white, 22px, capitalize, 0 0 15px 0, 0, left);
        }

        ul {
            li {
                margin: 0 0 10px;
                // &:not(:last-child) {
                //     margin: 0 0 10px;
                // }

                .links {
                    @include para (300, 16px, $lt-grey, 24px, capitalize, 0, 0, left);
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $white;
                    }
                }

                .links.active {
                    color: $white;
                }
            }
        }

        .form-main {
            position: relative;
            overflow: hidden;
            margin: 15px 0 0 0;
            .letter-ctl {
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                &::-webkit-input-placeholder{
                    color: $lt-grey;
                    text-transform: capitalize;
                }
                &::-moz-placeholder {
                    color: $lt-grey;
                    text-transform: capitalize;
                }
                &:-ms-input-placeholder {
                    color: $lt-grey;
                    text-transform: capitalize;
                }
                &::-moz-placeholder {
                    color: $lt-grey;
                    text-transform: capitalize;
                }

                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                border: none;
                border-radius: 100px;
                height: 50px;
                width: 100%;
                caret-color: $yellow;
                @include para (300, 14px, $white, 14px, unset, 0, 5px 15px, left);
            }
            .submit-btn {
                @include button(400,14px,$white,normal,capitalize,0,0,center,40px,95px,100px,2px solid $yellow,none,$yellow);
                position: absolute;
                top: 3px;
                right: 3px;
            }
        }
        .social-ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 10px 0 15px 0;
            .sc-li {
                margin: 0;
                &:not(:last-child) {
                    margin: 0 10px 0 0;
                }
                .icons {
                    color: $white;
                    font-size: 16px;
                    margin: 0;
                    padding: 0;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: 2px solid $lt-grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        background: $yellow;
                        border-color: $yellow;
                    }
                }
            }
        }
    }

    .footer-box.footer-extra {
        .ext-ul {
            li {
                display: flex;
                flex-direction: column;

                span {
                    @include para (500, 14px, $white, 24px, capitalize, 2px 0, 0, left);
                }

                a {
                    @include para (300, 14px, $lt-grey, 24px, unset, 2px 0, 0 0 0 25px, left);
                    text-decoration: none;
                    position: relative;
                }
            }

            li {
                a {
                    &::before {
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 400;
                        color: $white;
                        font-family: 'Font Awesome 6 Pro';
                    }
                }
                &:nth-child(1) a {
                    &::before {
                        content: '\f095';
                    }
                }

                &:nth-child(2) a {
                    &::before {
                        content: '\f0e0';
                    }
                }

                &:nth-child(3) p {
                    padding: 0 0 0 25px;
                    line-height: 18px;
                    &::before {
                        content: '\f3c5';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 400;
                        color: $white;
                        font-family: 'Font Awesome 6 Pro';
                    }
                }
            }
        }
    }
}