$white: #ffffff;
$yellow: #ff9c3a;
$lt-green: #EEF6F4;
$dk-green: #135846;
$lt-grey: #A7A7A7;
$black: #000;
$shadow: rgba(0, 0, 0, 0.1);
@font-face {
  font-family: "Affection";
  src: url("../fonts/Affection.ttf");
}